﻿@model IPagedList <DCE.Hertz2.Models.Invoice>
@{
    
}
<div id="divInvoiceResult">
    <div class="pagedList" data-zzz-target="#divInvoiceResult">
        @Html.PagedListPager(Model, page =>Url.Action("Index", new { page}),
        PagedListRenderOptions.Classic)
    </div>

    <table class="table">
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().InvoiceDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Hirer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PickUpLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PickUpDateTime)
            </th>
            @* <th>
                        @Html.DisplayNameFor(model => model.ReturnLocation)
                    </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReturnVehicle)
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.HiddenFor(modelItem => item.CustomerId)
                    <a href="@Url.Action("Details", "Invoice", new { id = item.InvoiceId })" >@Html.DisplayFor(modelItem => item.InvoiceNumber)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hirer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpDateTime)
                </td>
                @* <td>
                            @Html.DisplayFor(modelItem => item.ReturnLocation)
                        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnVehicle)
                </td>


                <td>
                    <div class="btn-group-vertical">
                        <a href="@Url.Action("View", "Invoice", new { id = item.InvoiceId })" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                        <a href="@Url.Action("Download", "Invoice", new { id = item.InvoiceId })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-download"></span></a>

                    </div>
                </td>
            </tr>
        }

    </table>
</div>
