﻿@model DCE.Hertz2.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Invoice</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerId)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceNumber)
            @Html.ValidationMessageFor(model => model.InvoiceNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChargeTo)
            @Html.ValidationMessageFor(model => model.ChargeTo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceDate)
            @Html.ValidationMessageFor(model => model.InvoiceDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GSTNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GSTNumber)
            @Html.ValidationMessageFor(model => model.GSTNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GSTAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GSTAmount)
            @Html.ValidationMessageFor(model => model.GSTAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reference)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reference)
            @Html.ValidationMessageFor(model => model.Reference)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reservation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reservation)
            @Html.ValidationMessageFor(model => model.Reservation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderNumber)
            @Html.ValidationMessageFor(model => model.OrderNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VoucherNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VoucherNumber)
            @Html.ValidationMessageFor(model => model.VoucherNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FreqFlyer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FreqFlyer)
            @Html.ValidationMessageFor(model => model.FreqFlyer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PayType)
            @Html.ValidationMessageFor(model => model.PayType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RateCDP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RateCDP)
            @Html.ValidationMessageFor(model => model.RateCDP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hirer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hirer)
            @Html.ValidationMessageFor(model => model.Hirer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PickUpLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PickUpLocation)
            @Html.ValidationMessageFor(model => model.PickUpLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PickUpDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PickUpDateTime)
            @Html.ValidationMessageFor(model => model.PickUpDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReturnLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReturnLocation)
            @Html.ValidationMessageFor(model => model.ReturnLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReturnDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReturnDateTime)
            @Html.ValidationMessageFor(model => model.ReturnDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenceNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenceNo)
            @Html.ValidationMessageFor(model => model.LicenceNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleCharged)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VehicleCharged)
            @Html.ValidationMessageFor(model => model.VehicleCharged)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReturnVehicle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReturnVehicle)
            @Html.ValidationMessageFor(model => model.ReturnVehicle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KMOut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KMOut)
            @Html.ValidationMessageFor(model => model.KMOut)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KMIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KMIn)
            @Html.ValidationMessageFor(model => model.KMIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarbonEmissions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarbonEmissions)
            @Html.ValidationMessageFor(model => model.CarbonEmissions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Currency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Currency)
            @Html.ValidationMessageFor(model => model.Currency)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
