﻿@model DCE.Hertz2.Models.Customer

@{
    ViewBag.Title = "Default";
    var invoice = Model.Invoices.FirstOrDefault();
}

<div class="container">
    <div class="jumbotron">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <p> @Html.DisplayFor(model => model.Address2)</p>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>Invoices</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => invoice.InvoiceNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => invoice.InvoiceDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => invoice.Hirer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => invoice.PickUpLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => invoice.PickUpDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => invoice.ReturnLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => invoice.ReturnVehicle)
                    </th>


                </tr>

                @foreach (var item in Model.Invoices)
                {
                    <tr>
                        <td>@Html.HiddenFor(modelItem => item.CustomerId)
                            @Html.DisplayFor(modelItem => item.InvoiceNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hirer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PickUpLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PickUpDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnVehicle)
                        </td>


                        <td>
                            <div class="btn-group-vertical">
                                <a href="@Url.Action("Download", "Invoice", new { id = item.InvoiceId })" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="@Url.Action("Details", "Invoice", new { id = item.InvoiceId })" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                            </div>
                        </td>
                    </tr>
                }

            </table>

        </div>
        <div class="col-md-2">
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Customer</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Account)
                            </label>
                            <br />
                            <div>
                                @Html.DisplayFor(model => model.Account)
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Name)
                            </label>
                            <div>
                                @Html.DisplayFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Company)
                            </label>
                            @Html.DisplayFor(model => model.Company)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.PayType)
                            </label>
                            @Html.DisplayFor(model => model.PayType)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Status)
                            </label>
                            @Html.DisplayFor(model => model.Status)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Address1)
                            </label>
                            @Html.DisplayFor(model => model.Address1)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Address2)
                            </label>
                            @Html.DisplayFor(model => model.Address2)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.City)
                            </label>
                            @Html.DisplayFor(model => model.City)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.State)
                            </label>
                            @Html.DisplayFor(model => model.State)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Zip)
                            </label>
                            @Html.DisplayFor(model => model.Zip)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Country)
                            </label>
                            @Html.DisplayFor(model => model.Country)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Email)
                            </label>
                            @Html.DisplayFor(model => model.Email)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => model.Phone)
                            </label>
                            @Html.DisplayFor(model => model.Phone)
                        </div>
                    </div>
                </div>
            </div>
            <p>

                <a href="@Url.Action("Edit", "Customer", new { id = Model.Id })" class="btn btn-success btn-sm">link text <span class="glyphicon glyphicon-th-list"></span></a>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
