﻿@model DCE.Hertz2.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Invoice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvoiceNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChargeTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChargeTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvoiceDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GSTNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GSTNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GSTAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GSTAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reservation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reservation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VoucherNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoucherNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FreqFlyer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FreqFlyer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RateCDP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RateCDP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hirer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hirer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PickUpLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PickUpLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PickUpDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PickUpDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReturnLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReturnLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReturnDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReturnDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LicenceNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicenceNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleCharged)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleCharged)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReturnVehicle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReturnVehicle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KMOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KMOut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KMIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KMIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarbonEmissions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarbonEmissions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
