﻿@model DCE.Hertz2.Models.Invoice

@{
    ViewBag.Title = "Details";
    var charges = Model.Charges.FirstOrDefault();
}


<div class="container-fluid">
    <div class="row"><div class="col-md-9"><h1># @Html.DisplayFor(model => model.InvoiceNumber)</h1></div>
        <div class="col-md-3"><h1>@Html.DisplayFor(model => model.InvoiceDate )</h1></div> 
    </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">@Html.DisplayFor(model => model.Customer.Company)</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Hirer, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.Hirer, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ChargeTo, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.ChargeTo, new { @class = "col-md-3 control-label" })
                            </div>
                             <div>
                                @Html.DisplayFor(model => model.Address2, new { @class = "col-md-3 control-label" })
                            </div>
                             <div>
                                @Html.DisplayFor(model => model.Customer.City, new { @class = "col-md-3 control-label" })
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Customer.Country, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-group-item">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Account, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.Account, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PickUpLocation, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.PickUpLocation, new { @class = "col-md-3 control-label" })<br />
                                @Html.DisplayFor(model => model.PickUpDateTime, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReturnLocation, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.ReturnLocation, new { @class = "col-md-3 control-label" })<br />
                                @Html.DisplayFor(model => model.ReturnDateTime, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderNumber, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.OrderNumber, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VoucherNumber, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.VoucherNumber, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RateCDP, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.RateCDP, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehicleCharged, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.VehicleCharged, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FreqFlyer, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.FreqFlyer, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PayType, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.PayType, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Reference, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.Reference, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row list-group-item">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReturnVehicle, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.LicenceNo, new { @class = "col-md-3 control-label" })
                                @Html.DisplayFor(model => model.ReturnVehicle, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.KMOut, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.KMOut, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.KMIn, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.KMIn, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.KMDriven, new { @class = "col-md-3 control-label" })
                            <div>
                                @Html.DisplayFor(model => model.KMDriven, new { @class = "col-md-3 control-label" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <tr class="active">
                        <th  colspan="5" >
                            @Html.DisplayNameFor(model => charges.RentalCharges)
                        </th>
                    </tr>
                    @foreach (var item in Model.Charges)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RentalCharges)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Per)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubTotal)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4">
                            <label>Total Charges</label>
                        </td>
                        <td>
                            @Model.Charges.Sum(item => item.SubTotal)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label>Paid</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.TotalChargesPaid)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label>Amount Due</label>
                        </td>
                        <td>
                            @{
                                var AmountDue = Model.Charges.Sum(item => item.SubTotal) - (Model.TotalChargesPaid.HasValue ?  Model.TotalChargesPaid.Value:0);
                             }
                            @AmountDue
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


<div>
</div>
<p>
    @Html.ActionLink("Download", "Invoice", new { id = Model.InvoiceId },new {@class="btn btn-success btn-md"}) 
    @Html.ActionLink("Back to List", "Index","Invoice",new {@class="btn btn-default btn-md"})
    </p>
