﻿@model  DCE.Hertz2.ViewModel.InvoiceSearchViewModel

@{
    ViewBag.Title = "Default";
    var customer = Model.Customer;
}

<div class="container">
    <div class="jumbotron">
        <h2>@Html.DisplayFor(c => customer.Account)</h2>
        <p>@Html.DisplayFor(c => customer.Address2)</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Invoices</h3>
            <form method="get" action = "@Url.Action("Index")" data-zzz-ajax="true" data-zzz-target="#divInvoiceResult">

                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" name="searchKey">
                            <option value="InvoiceNumber">Invoice Number</option>
                            <option value="AggrementNumber">Agreement Number</option>
                            <option value="ReferenceNumber">Reference Number</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="search" name="searchTerm" data-zzz-autocomplete="@Url.Action("Autocomplete")" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
                <p>
                </p>
            </form>
            @Html.Partial("_InvoiceSearchResult", Model.Invoices)
            <p>
                @Html.ActionLink("Back to List", "Index", "Invoice", null, new { @class = "btn btn-default btn-md" })
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Customer</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Account)
                            </label>
                            <br />
                            <div>
                                @Html.DisplayFor(model => customer.Account)
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Name)
                            </label>
                            <div>
                                @Html.DisplayFor(model => customer.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Company)
                            </label>
                            @Html.DisplayFor(model => customer.Company)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.PayType)
                            </label>
                            @Html.DisplayFor(model => customer.PayType)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Status)
                            </label>
                            @Html.DisplayFor(model => customer.Status)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Address1)
                            </label>
                            @Html.DisplayFor(model => customer.Address1)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Address2)
                            </label>
                            @Html.DisplayFor(model => customer.Address2)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.City)
                            </label>
                            @Html.DisplayFor(model => customer.City)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.State)
                            </label>
                            @Html.DisplayFor(model => customer.State)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Zip)
                            </label>
                            @Html.DisplayFor(model => customer.Zip)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Country)
                            </label>
                            @Html.DisplayFor(model => customer.Country)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Email)
                            </label>
                            @Html.DisplayFor(model => customer.Email)
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.DisplayNameFor(model => customer.Phone)
                            </label>
                            @Html.DisplayFor(model => customer.Phone)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

@section Scripts {

}