﻿@model IPagedList<Invoice>
<div id="searchResult">
    <div class="row">
        <div class="col-sm-12">
            <h3>Invoices</h3>

            <div>
                @Html.PagedListPager(Model, page => Url.Action("Invoice", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

            </div>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>
                        Invoice Number
                    </th>
                    <th>
                        Invoice Date
                    </th>
                    <th>
                        Hirer
                    </th>
                    <th>
                        PickUp Location
                    </th>
                    <th>
                        PickUp Date
                    </th>
                    <th>
                        Return Location
                    </th>
                    <th>
                        Return Vehicle
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.CustomerId)
                        @Html.DisplayFor(modelItem => item.InvoiceNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hirer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickUpLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickUpDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnVehicle)
                    </td>


                    <td>
                        <div class="btn-group-vertical" role="group">
                            <a href="@Url.Action("Details", "Invoice", new { id = item.InvoiceId })" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                            <a href="@Url.Action("Download", "Invoice", new { id = item.InvoiceId })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-download"></span></a>

                        </div>
                    </td>
                </tr>
                }

            </table>

        </div>
    </div>
</div>
