﻿@model IPagedList<DCE.Hertz2.Models.Invoice>

@{
    ViewBag.Title = "Invoice";
}

<h2>Search Invoice</h2>

@using (Ajax.BeginForm(
  new AjaxOptions
  {
      HttpMethod = "get",
      InsertionMode = InsertionMode.Replace,
      UpdateTargetId = "searchResult"
  }))
{
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1" style="width:100px">Invoice   </span>
                        <input type="text" name="invoicenumber" class="form-control" placeholder="Invoice Number" aria-describedby="basic-addon1" id="invoicenumber">
                    </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2" style="width:100px">Reservation</span>
                        <input type="text" name="reservationnumber" class="form-control" placeholder="Reservation  Number" aria-describedby="basic-addon2" id="reservationnumber">
                    </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3" style="width:100px">Agreement</span>
                        <input type="text" name="agreementnumber" class="form-control" placeholder="Rental Agreement Number" aria-describedby="basic-addon3" id="agreementnumber">
                    </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-1'>
                <div class="form-group">
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" name="invoiceDate">Invoice Date</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-3'>
                <span>
                    <h5>from</h5>
                </span>
                <div class="input-group date" id="datetimepicker1">
                    <input type="text" class="form-control" name="startdate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-sm-3'>
                <span>
                    <h5>to</h5>
                </span>
                <div class="input-group date" id="datetimepicker2">
                    <input type="text" class="form-control" name="endtdate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        
        <div class='col-sm-6  col-md-offset-6 '>
            <p> <input type="submit" value="Search" class="btn btn-default" /></p>
        </div>
    </div>

}

@Html.Partial("_InvoiceResult", Model)


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime")
    <script type="text/javascript">
        $(function () {

            $('#datetimepicker1').datetimepicker();

            $('#datetimepicker2').datetimepicker();
        });
    </script>

}