﻿@model DCE.Hertz2.Models.CorporateLoginModel
@{
    ViewBag.Title = "Login";
    var isCorporate = Model.IsCorporate;
}


<div class="container">

    @if (Model.IsCorporate == false)
    {
        <h2>Consumer Login</h2>
    }
    @if (Model.IsCorporate == true)
    {
        <h2>Corporate Login</h2>
    }

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, IsCorporate = isCorporate }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        if (Model.IsCorporate == false)
        {
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Account, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }


        if (Model.IsCorporate == true)
        {
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.RegisteredEmail, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.RegisteredEmail, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <br /> <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        <br />
        <div class="row">
            <div class="col-md-offset-2 col-md-6">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Log in" class="btn  btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }



</div>
