﻿@model DCE.Hertz2.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="container">


    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {  
        @Html.AntiForgeryToken() 
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">

                    <div class="form-group">

                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email address" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <input type="submit" value="Log in" class="btn  btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="panel">
                        <h3>Corporate Users</h3>
                        <p>
                            Corporate user please use your email address to login to the Poral.
                        </p>

                        <div class="col-md-offset-2"><a href="@Url.Action("CorporateLogin", "Account", new { IsCorporate = true  })", class="btn btn-default bt-sm ">Corporate User Login &raquo;</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel">
                        <h3>Normal Users</h3>
                        <p>Hertz Customers please use your Hertz Account to login to view your invoices</p>
                        <div class="col-md-offset-2"><a href="@Url.Action("CorporateLogin", "Account", new { IsCorporate = false  })", class="btn btn-default bt-sm ">Hertz&copy Customer Login &raquo;</a></div>
                    </div>
                </div>

            </div>
        </div>
    }
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
    @*                  Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@



    @*        <div class="col-md-4">
            <section class="social" id="socialLoginForm">
                <p>
                    <h2>Use another service to log in.</h2>
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </p>

            </section>
        </div>*@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
