﻿@model DCE.Hertz2.Models.Customer

@{
    ViewBag.Title = "Details";
    var userProfile = Model.UserProfiles;
    var profile = userProfile.FirstOrDefault();
    
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => profile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => profile.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th></th>
    </tr>

    @foreach (var item in userProfile)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("Manage", "Account", new { id = item.UserId })", class="btn btn-info btn-md">Change Password</a>
                </div>
            </td>
        </tr>
    }

</table>
<p>
   
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default btn-md" })
</p>
