﻿@model IEnumerable<Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Informations</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersCount)
        </th>
        <th>
            Invoice Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.UsersCount)
            </td>
            <td>
                @item.Invoices.Count()
            </td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Customer", new { id = item.Id })" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                </div>
            </td>
        </tr>
    }

</table>
