﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Please send your payment to the following address unless prior arrangements have been made to pay by bank wire:



<div class="container">
    <address>
        HERTZ AUSTRALIA PTY. LTD
    <br />
        CUSTOMER RELATIONS<br />
        PO BOX 6848  
    <br />
        ST KILDA RD CENTRAL, VI 8008
    <br />
        AU 
    </address>
    If you would like to speak to an account representative please call the toll free number referenced below. If you choose to write us, please use the referenced fax number or email option and we will answer you within 2 business days.
    <br />
    <address>
    <abbr title="Phone">Phone Number: 1800550078</abbr>
    <br />
    <abbr title="Fax">Fax: (03) 9698 2283 </abbr>
    <br />
    </address>
Click Here to Contact Us via eMail.<br />
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
