﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Imgages/Hertz_Logo.svg.png" />
    <h1></h1>
   
    <p class="lead">Welcome to Hertz Car Rental New Zealand.  Get your invoice online now from our billing website</p>
    <p>
       @* <a href="@Url.Action("Register", "Account", new { })", class="btn btn-primary btn-lg">Register &raquo;</a>*@
        @*<a href="@Url.Action("Login", "Account", new { })", class="btn btn-primary btn-lg">Login &raquo;</a>*@
    </p>
 </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Corporate Users</h2>
            <p>
                Corporate user please use your email address to login to the Poral.
            </p>
            <p><a href="@Url.Action("CorporateLogin", "Account", new { IsCorporate = true })", class="btn btn-default active">Corporate User Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Consumers</h2>
            <p>Hertz Consumers please use your Hertz Account to login to view your invoices</p>
            <p><a href="@Url.Action("CorporateLogin", "Account", new { IsCorporate = false  })", class="btn btn-default active">Hertz&copy Customer Login &raquo;</a></p>
        </div>
    </div>
